*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier New, monospace;
}
body{
  background-color: #183358;
  color: aliceblue;
}
.container{
  display: flex;
  justify-content: center;
}
.content{
  background-color: #29466e;
  width: 700px;
  padding: 20px 30px;
  border-radius: 30px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.btn{
  width: 100%;
  display: flex;
  gap: 10px;
}
.btn > button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  flex: 1;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn > button:hover{
  animation: shake 1s ease;
}
@keyframes shake {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(5px, -5px); }
    50%  { transform: translate(-5px, 5px); }
    75%  { transform: translate(5px, -5px); }
    100% { transform: translate(0, 0); }
}
.dashboard{
  width: 100%;
}
.dashboard-game{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.result-text{
  text-align: center;
  margin-top: 40px;
}